<div class="row m-lg-2">
    <div class="container-fluid content mt-3 m-lg-5">
        <div class="row mb-5">
          <div class="col-sm-4">
            <form class="d-flex">
              {% comment %} <input class="form-control me-2" type="search" placeholder="Nhập tên tài liệu" aria-label="Search" name="search">  {% endcomment %}
              <input class="form-control me-2" type="search" 
              name="search" placeholder="Nhập tên tài liệu" 
              hx-get="{% url 'Bookapp:BookList' number=1 %}"
              hx-trigger="keyup changed delay:500ms, search" 
              hx-target="#book-list-container"
              value={{search}}>
            </form>
          </div>
          <div class="col-sm-2">
            <a class="btn btn-success" href = "{% url 'Teacher:AddBook' %}"><i class="bi bi-file-earmark-plus"></i>Thêm sách</a>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Tên sách</th>
                <th scope="col">Cấp độ</th>                 
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for book in page_obj.object_list %}
            <tr hx-target="this">
                <td><p>{{ book.title }}</p></td>
                <td>
                    {% for category in book.category.all %}
                        {{ category.name }}
                    {% endfor %}
                </td> 
                <!-- Các cột khác -->
                <td>
                    <form action="">{% csrf_token %} 
                        <a class="btn btn-outline-danger" hx-post="{% url 'Teacher:DeleteBook' pk=book.id %}" hx-swap="outerHTML">
                            <i class="bi bi-trash"></i>
                        </a>
                    </form>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'Teacher:DetailBook' pk=book.id %}">
                        <i class="bi bi-pen"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="container">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item 
            {% if not page_obj.has_previous %}
              disabled
            {% endif %}
            ">
              <a class="page-link"
              {% if page_obj.has_previous %}
                href = "#"       
                hx-get={% url 'Document:DocumentList' number=page_obj.previous_page_number %} 
                hx-include=[name='search'] 
                hx-target="#document-list-container"     
              {% endif %}
              >Previous</a>
            </li>
            {% for i in page_obj.paginator.page_range %}
            <li class="page-item 
            {% if number == forloop.counter %}active{% endif %}"
            ><a class="page-link" href="" 
            hx-get={% url 'Document:DocumentList' number=i %} 
            hx-include=[name='search'] 
            hx-target="#document-list-container">{{i}}</a></li>
            {% endfor %}
            <li class="page-item 
            {% if not page_obj.has_next %}
            disabled
            {% endif %}
            ">
              <a class="page-link" href="#"
              {% if page_obj.has_next %}
              href = "#"       
              hx-get={% url 'Document:DocumentList' number=page_obj.next_page_number %} 
              hx-include=[name='search'] 
              hx-target="#document-list-container"     
              {% endif %}
              >Next</a>
            </li>
          </ul>
        </nav>
      </div>

</div>