{% extends 'teacher_base.html' %}
{% load static %}
{% block linkcss %}
    <link rel="stylesheet" href="{% static 'css/pages/exam_manager.css' %}">
{% endblock linkcss %}

{% block info %}
    {% include 'partials/teacher_info.html' %}
{% endblock info %}

{% block navbar %}
    {% include 'partials/teacher_nav.html' %}
{% endblock  %}

{% block content %}
<div class = "row document-list">
    <div class = "container" id="document-list-container">
      {% include "Document/document_list.html" %}
    </div>
</div>
{% endblock content %}