{% extends 'teacher_base.html' %}
{% load static %}
{% block linkcss %}
    <link rel="stylesheet" href="{% static 'css/pages/teacher_add_exam_detail.css' %}">
{% endblock linkcss %}

{% block info %}
    {% include 'partials/teacher_info.html' %}
{% endblock info %}

{% block navbar %}
    {% include 'partials/teacher_nav.html' %}
{% endblock  %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <h1 style = "text-align:center" >Thêm bài viết</h1>
    </div>
    {% include 'Document/add_document_form.html' %}
{% endblock content %}