{% extends 'teacher_base.html' %}
{% load static %}
{% block linkcss %}
    <link rel="stylesheet" href="{% static 'css/pages/exam_manager.css' %}">
{% endblock linkcss %}

{% block info %}
    {% include 'partials/teacher_info.html' %}
{% endblock info %}

{% block navbar %}
    {% include 'partials/teacher_nav.html' %}
{% endblock  %}

{% block content %}
<div class = "row exam-list">
    <div class="container-fluid content mt-3 m-lg-5">
        <div class="row mb-5">
          <div class="col-sm-4">
            <form class="d-flex">
              {% comment %} <input class="form-control me-2" type="search" placeholder="Nhập tên đề thi" aria-label="Search" name="search"> {% endcomment %}
              <input class="form-control me-2" type="search" 
              name="search" placeholder="Nhập tên đề thi" 
              hx-get="{% url 'Exam:ExamList' %}"
              hx-trigger="keyup changed delay:500ms, search" 
              hx-target="#exam-list-container">
              <button class="btn btn-success" type="submit" hx-get = "{% url 'Exam:ExamList' %}" hx-swap = "innerHTML" hx-target = "#exam-list-container" hx-include="[name='search']"><i class="bi bi-search"></i></button>
            </form>
          </div>
          <div class="col-sm-2">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tất cả
              </button>
              <ul class="dropdown-menu" id="dropdown-menu1" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">N5</a></li>
                <li><a class="dropdown-item" href="#">N4</a></li>
                <li><a class="dropdown-item" href="#">N3</a></li>
                <li><a class="dropdown-item" href="#">N2</a></li>
                <li><a class="dropdown-item" href="#">N1</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <a class="btn btn-success" href = "{% url 'Teacher:AddExam' %}"><i class="bi bi-file-earmark-plus"></i>Thêm đề thi</a>
          </div>
          <div class = "container" id="exam-list-container">
            {% include "partials/exam_list.html" %}
          </div>
        </div>
      </div>
</div>
{% endblock content %}