{% extends 'student_base.html' %}
{% load static %}
{% block linkcss %}
    <link rel="stylesheet" href="{% static 'css/pages/student_test_part.css' %}">
{% endblock linkcss %}

{% block content %}
    <h1 style = "text-align : center">{{part_history.name}}</h1>
    <div class="container">
    {% for group in part_history.groups %}
        {% include 'partials/student_group_history.html' with group=group %}
      {% endfor %} 
    </div>
    <div style = "display : flex; justify-content : center; align-item : center">
        {% if type == "skill" %}
        <a href = "{% url 'Student:SkillResult' pk=part_history.id %}"  class = "btn btn-success">Hoàn tất</a>
        {% endif %}
        {% if type == "test" %}
        <a href = "{% url 'Student:CompletePart' pk=part_history.id %}"  class = "btn btn-success">Hoàn tất</a>
        {% endif %}
    </div>
{% endblock content %}