<div class="card-body px-0 pb-2" id = "document-list-container">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên tài liệu</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thời gian thêm</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Người Đăng</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Xoá</th>
          </tr>
        </thead>
        <tbody>

          {% for post in page_obj.object_list %}
          <tr hx-target = "this">

            <td>
              <div class="d-flex px-2 py-1">
                <div>
                    <i class="fa fa-user me-sm-4 ms-sm-2"></i>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <a href="{% url 'Document:DetailDocument' pk=post.id%}">
                    <h6 class="mb-0 text-sm">{{post.title}}</h6>
                  </a>
                </div>
              </div>
            </td>
            
            <td>
              <div class="d-flex py-1">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">{{post.date}} </h6>
                </div>
              </div>
            </td>

            <td>
              <div class=" align-middle text-center">
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">{{post.user.first_name}} {{post.user.last_name}} </h6>
                </div>
              </div>
            </td>
            
            <td>
              <form action="">{% csrf_token %} 
                <div class=" align-middle text-center">
                  <a class="btn btn-link text-danger px-3 mb-0" hx-post = "{% url 'Administer:DeleteDocument' pk=post.id %}" hx-swap = "outerHTML">
                    <i class="material-icons text-sm me-2">delete                                     
                    </i>Delete
                  </a>
              </div>
            </form>
            </td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<div class="container">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item 
          {% if not page_obj.has_previous %}
            disabled
          {% endif %}
            ">
          <a class="page-link"
          {% if page_obj.has_previous %}    
            hx-get={% url 'Administer:NewDocumentPage' number=page_obj.previous_page_number %} 
            hx-target="#document-list-container"     
          {% endif %}
          >Previous</a>
        </li>
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item 
        {% if number == forloop.counter %}active{% endif %}"
        ><a class="page-link" href="" 
        hx-get={% url 'Administer:NewDocumentPage' number=i %} 
        hx-include=[name='search'] 
        hx-target="#document-list-container">{{i}}</a></li>
        {% endfor %}
        <li class="page-item 
        {% if not page_obj.has_next %}
        disabled
        {% endif %}
        ">
          <a class="page-link" href="#"
          {% if page_obj.has_next %}    
          hx-get={% url 'Administer:NewDocumentPage' number=page_obj.next_page_number %} 
          hx-target="#document-list-container"     
          {% endif %}
          >Next</a>
        </li>
      </ul>
    </nav>
  </div>