{% extends 'base.html' %}
{% load static %}

{% block linkcss %}
    <link rel="stylesheet" href="{% static 'css/pages/user_change_password.css' %}">
{% endblock linkcss %}



{% block content %}
<div class="container no-padding content-area no-sidebar">
    <div class="row align-items-center" style="height: 100px;">
        <h3 style="text-align: center; color:  rgb(0, 142, 64);">ĐỔI MẬT KHẨU</h3>
    </div>
    <div class="row">
        <div class="col-sm-3 m-lg-4" style="border: 1px solid #ccc; border-radius: 5px ;">
            <div class="row d-flex justify-content-center"; style="text-align: center;">
                <img src="
                    {% if profile.image %}
                    {{profile.image.url}}
                    {% endif %}
                " alt=""; style="width: 126px; height: 100px ;margin-top: 17px;">
                <label style="margin-top: 15px;" >{{profile.user.first_name}} {{profile.user.last_name}}</label>
                <label style="margin-top: 12px;">Username: <b style="color: rgb(0, 142, 64);">{{profile.user.username}}</b></label>
            </div>
            <div style="background-color: #ccc; height: 0.5px; margin-top: 17px;"></div>
            <div class="row">
                <a style="text-decoration: none; color:#303030; margin-left: 33px; margin-top: 10px;" href="{% url 'jlpt:UserInfo' %}"><i class="bi bi-person-circle"></i> &nbsp; Thông tin tài khoản</a>
                <a style="text-decoration: none; color:#303030; margin-left: 33px; margin-top: 10px;" href="{% url 'jlpt:ChangePassword' %}"><i class="bi bi-key-fill"></i> &nbsp; Đổi mật khẩu</a>
                {% if profile.role == 'student' %}
                <a style="text-decoration: none; color:#303030; margin-left: 33px; margin-top: 10px;" href="{% url 'Student:HistoryList' %}"><i class="bi bi-file-earmark-fill"></i>&nbsp; Lịch sử làm bài</a>
                {% endif %}
                <div style="background-color: #ccc; height: 0.5px; margin-top: 17px;"></div>
                <a style="text-decoration: none; color:#303030; margin-left: 33px; margin-top: 10px; margin-bottom: 10px;" href="{% url 'jlpt:Logout' %}"><i class="bi bi-box-arrow-right"></i> &nbsp; Đăng xuất</a>
            </div>
        </div>
        <div class="col-sm-8 m-lg-3">
            <form method = "POST" action = {% url 'jlpt:UpdatePassword' %}>
                {% csrf_token %}
                <div class="form-group">
                    <label>Tài khoản <label style="color: red;">*</label></label>
                    <input style="background-color: #ccc;" type="text" class="form-control" id="inputUsername" value="{{profile.user.username}}" readonly>
                </div>
                <div class="form-group mt-3">
                    <label>Mật khẩu cũ <label style="color: red;">*</label></label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" required name="password">
                </div>
                <div class="form-row mt-3">
                    <label>Mật khẩu mới <label style="color: red;">*</label></label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" required name="password1">                     
                </div>
                <p>
                    <ul>
                        <li>Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.</li>
                        <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li>
                        <li>Mật khẩu của bạn không được là mật khẩu thường được sử dụng.</li>
                        <li>Mật khẩu của bạn không được hoàn toàn bằng số.</li>
                    </ul>
                </p>
                <div class="form-row mt-3">
                    <label>Xác nhận mật khẩu <label style="color: red;">*</label></label>
                    <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" required name="password2">                     
                </div>
                <button type="submit" class="btn btn-primary mt-5">Cập nhật</button>
                {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="form-row mt-3">
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                    </div>
                    {% endif %}
                    {% if message.tags == "success" %}
                    <div class="form-row mt-3">
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
              </form>
        </div>
    </div>
    <div class="row" style="height: 150px;"></div> 
</div>
<script>
    $(document).ready(function() {
        // Show the alert
        $('.alert').alert();

        // Hide the alert after a certain time (e.g., 5 seconds)
        setTimeout(function() {
            $('.alert').alert('close');
        }, 2000);
    });
</script>
{% endblock content %}