.nav-link {
    color: rgb(46, 44, 44); 
  }
.vien2 {
    height: 2px;
    width: 100%;
    background: rgba(205, 209, 212, .5);;
  }
  .btn-custom {
    font-size: 30px;
    padding: 10px 20px;

   
    border-width: 2px;
}