<div class="container-fluid navbar d-flex-inline justify-content-end align-item-center gap-5">
    <center class="navbar-item"><a class = "nav-link" href="#">Trang chủ</a></center>
    <center class="navbar-item"><a class = "nav-link" href="#">Cập nhật JLPT 2023</a></center>
    <center class="navbar-item"><a class = "nav-link" href="#">Tài liệu free</a></center>
    <center class="navbar-item"><a class = "nav-link" href="#">Sách học JLPT</a></center>
    <center class="navbar-item"><a class = "nav-link" href="#">Đề thi chuẩn JLPT</a></center>
    <center class="navbar-item"><a class = "nav-link" href="{% url 'Teacher:ExamManager' %}">Quản lý bài thi</a></center>
</div>