<!-- top-header -->
<div class="top-header">
    <div class="container-fluid d-flex justify-content-end" style="background-color: #303030;" id="user-info">
        <!-- <img src="../images/avatar.jpeg" alt="" height="40px" width="40px"> -->
        <div class="dropdown">
            <button class="btn btn-outline dropdown-toggle border-0 menu" type="button" id="triggerId"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
                Xin chào! {{profile.user.first_name}} {{profile.user.last_name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId" style="z-index: 9999;">
                <a class="dropdown-item" href="{% url 'jlpt:UserInfo' %}"><i class="bi bi-person-circle"></i> &nbsp; Thông tin tài khoản</a>
                <a class="dropdown-item" href="#"><i class="bi bi-key-fill"></i> &nbsp; Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'jlpt:Logout' %}"><i class="bi bi-box-arrow-right"></i> &nbsp; Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
<!-- viền -->
<div class="vien"></div>