    <!-- navbar -->
    {% load static %}
    <div class="container-fluid sticky-top">
        <div class="row text-center" style="background-color: white; height: 96px;">
            <ul class="nav justify-content-center align-items-center">
                <li><img src="{% static 'images/logo-jlpt.jpg' %}" class="img-fluid" style="width: 96px; height: 96px;"></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link active" href="#">TRANG CHỦ</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">CẬP NHẬT JLPT 2023</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'Document:test' %}">TÀI LIỆU FREE</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">SÁCH HỌC JLPT</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">ĐỀ THEO KỸ NĂNG</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'Student:ExamSelectList' %}">ĐỀ THI CHUẨN JLPT</a></li> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <li class="btn btn-primary" style="height: 41px;">VÀO THI NGAY</li> -->
                <li class="vaothingay" style="vertical-align: middle;">
                    <a href="#" style="background: #93beda;color: #fff; height: 37px; text-align: center;
                                            width: 131px; padding: 10px !important;margin-top: 29px; list-style-type:none;
                                            border-radius: 7px;text-decoration: none;">VÀO THI NGAY</a>
                </li>
            </ul>
        </div>
        <div class="vien2"></div>
    </div>