{% extends 'administer_base.html' %}
{% load static %}

{% block content %}
<body class="g-sidenav-show  bg-gray-200">

        {% block aside %}
          {% include 'partials/administer_aside.html' with active_class5='active bg-gradient-primary' %}
        {% endblock aside %}        

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% block nav %}
      {% include 'partials/administer_nav.html' with name='Quản lý tài liệu' %}
    {% endblock nav %}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        
      </div>
      <div class="row mt-4">
        
      </div>
      <div class="row mb-4">
        <div class="col-lg-12 col-md-8 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Quản lý tài liệu</h6>
                  <!--<p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month
                  </p>--> 
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên tài liệu</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thời gian thêm</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Người Đăng</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Xoá</th>

                    </tr>
                  </thead>
                  <tbody>

                    {% for post in page_obj.object_list %}
                    <tr hx-target = "this">

                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                              <i class="fa fa-user me-sm-4 ms-sm-2"></i>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <a href="{% url 'Document:DetailDocument' pk=post.id%}">
                              <h6 class="mb-0 text-sm">{{post.title}}</h6>
                            </a>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <div class="d-flex py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{post.date}} </h6>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class=" align-middle text-center">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{post.user.first_name}} {{post.user.last_name}} </h6>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <form action="">{% csrf_token %} 
                          <div class=" align-middle text-center">
                            <a class="btn btn-link text-danger px-3 mb-0" hx-post = "{% url 'Teacher:DeleteDocument' pk=post.id %}" hx-swap = "outerHTML">
                              <i class="material-icons text-sm me-2">delete                                     
                              </i>Delete
                            </a>
                        </div>
                      </form>
                      </td>



                    </tr>

                    {% endfor %}

        
                  </tbody>
                </table>
              </div>
              <div class="container">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item 
                      {% if not page_obj.has_previous %}
                        disabled
                      {% endif %}
                        ">
                      <a class="page-link"
                      {% if page_obj.has_previous %}
                        href = "#"       
                        hx-get={% url 'Administer:Document' number=page_obj.previous_page_number %} 
                        hx-include=[name='search'] 
                        hx-target="#document-list-container"     
                      {% endif %}
                      >Previous</a>
                    </li>
                    {% for i in page_obj.paginator.page_range %}
                    <li class="page-item 
                    {% if number == forloop.counter %}active{% endif %}"
                    ><a class="page-link" href="" 
                    hx-get={% url 'Administer:Document' number=i %} 
                    hx-include=[name='search'] 
                    hx-target="#document-list-container">{{i}}</a></li>
                    {% endfor %}
                    <li class="page-item 
                    {% if not page_obj.has_next %}
                    disabled
                    {% endif %}
                    ">
                      <a class="page-link" href="#"
                      {% if page_obj.has_next %}
                      href = "{% url 'Administer:Document' number=page_obj.next_page_number %}"       
                      hx-get={% url 'Administer:Document' number=page_obj.next_page_number %} 
                      hx-include=[name='search'] 
                      hx-target="#document-list-container"     
                      {% endif %}
                      >Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>

      </div>
      {% block footer %}
          {% include 'partials/administer_footer.html' %}
      {% endblock footer %}
    </div>
  </main>

</body>
{% endblock content %}
