<div class="container" id="book-detail">
    <div class="row">
        <div class="col-6">
          <label for="book-image">Ảnh</label>
          {{info.image.url}}
        </div>
        <div class="col-6">
          <img src="{{ form.instance.cover_image.url }}" alt="" width="30%" height="100%" style="margin-top: 20px" />
        </div>
      </div>
    <div class="row">
      <div class="col-6">
        <label for="book-name">Họ và tên</label>
        {{info.user.first_name}} {{info.user.last_name}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="book-name">UserName</label>
        {{info.user.username}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="book-name">Role</label>
        {{info.role}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="book-name">Số điện thoại</label>
        {{info.phone_number}}
      </div>
    </div>
    
    <div class="row" style="display: inline">
      <div class="col-md-3">
        <a href="" class="btn btn-danger" hx-get="" hx-target="#book-detail" hx-swap="outerHTML">
          <i class="bi bi-pencil"></i>
        </a>
      </div>
    </div> 
  </div>
  